
html, body {
   margin: 0;
   padding: 0;
   font-size: 16px;
   font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
   width: 80%;
   margin: 50px auto;
}

#output {
  border: 2px #EBEBEB solid;
  border-radius: 25px;
  min-height: 100px;
  padding: 2rem;
}
